<details>
  <summary>Shopping Cart</summary>
  <ul>
    <% @cart.each do |product| %>
      <li><%= product.name %> - <%= link_to 'Remove', remove_from_cart_path(product), method: :delete %></li>
    <% end %>
  </ul>
</details>

<%# PUBLISHABLE_KEY=pk_test_TPHuSNch19KYwau6xmUpVeBJ00cLXo2onM SECRET_KEY=sk_test_qch7uXZcKcTMAD55XmPyC1AR00MaDmv5d3 rails s %>